.row
  .col.s12.m12
    .card.darken-1
      .card-content.black-text.center
        %img.ingredient-img{:src => ingredient_measurement.ingredient.img.url(:medium)}

        %span.card-title
          = ingredient_measurement.ingredient.name
        %p
          = ingredient_measurement.count_with_units_string
      .card-action
        %a{:href => "#{ingredient_url(ingredient_measurement.ingredient)}"}
          =  "#{"Learn more about " + ingredient_measurement.ingredient.name}"