:javascript
  $(document).ready(function() {
    $('select').material_select();

    $(document).bind('ajax:beforeSend', "form.recipe_form", function(event, xhr, settings){
      //e.preventDefault()
      alert('before send');
      //settings.data += "&serialized=data";
    });

    $(document).bind('ajax:success', "form.recipe_form", function(event, xhr, settings){
      //e.preventDefault()
      alert('done');
      //settings.data += "&serialized=data";
    });
    //$("body").on("submit", "form", function(e) {
    //  e.preventDefault()
    //  params = $("#new_recipe").serializeArray();

    //  console.log(e)

    });
= form_for(@recipe) do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .row
    %h3.center The Basics
    = f.label :name, class: ''
    = f.text_field :name, class: '', required: 'true'

    = f.label :description, class: ''
    = f.text_area :description, class: '', required: 'true'

  %h3.center Special Instruction
  .row
    = f.fields_for :steep_instruction do |ff|
      = ff.hidden_field :recipe_id
      = ff.label :time
      = ff.text_area :time
      = ff.label :temperature
      = ff.text_area :temperature
      = f.label :preperation_notes
      = f.text_area :preperation_notes

  %h3.center What's in it?
  .row
    #recipe_ingredients
      = f.fields_for :ingredient_measurements do |ingredient_meaasurement|
        = render 'ingredient_measurement_fields', f: ingredient_meaasurement
      %span.input-group-btn
        = link_to_add_association "Add Ingredient", f, :ingredient_measurements, class: 'btn waves-effect waves-light btn-large'

  %h6.center Find this online somewhere? Lets give credit where credit is due.
  .row
    = f.label :source_url, class: ''
    = f.text_field :source_url, class: ''
  %br
  .actions#save_recipe
    = f.submit 'Save'
