:javascript
  $(document).ready(function() {
    $('select').material_select();

    $(document).bind('ajax:beforeSend', "form.recipe_form", function(event, xhr, settings){
      //e.preventDefault()
      alert('before send');
      //settings.data += "&serialized=data";
    });

    $(document).bind('ajax:success', "form.recipe_form", function(event, xhr, settings){
      //e.preventDefault()
      alert('done');
      //settings.data += "&serialized=data";
    });

    function toggleThermometer(temp) {
       if (temp > 200)
       {
         $('#therm-empty').hide();
         $('#therm-half').hide();
         $('#therm-full').show();
       }
       else if (temp < 165)
       {
         $('#therm-empty').show();
         $('#therm-half').hide();
         $('#therm-full').hide();
       }
       else {
         $('#therm-empty').hide();
         $('#therm-half').show();
         $('#therm-full').hide();
       }
    }
    temperature_label.innerText = $('#recipe_steep_instruction_attributes_temperature')[0].value;

    $("#recipe_steep_instruction_attributes_temperature").on("input",  function(){
      temperature_label.innerText = $('#recipe_steep_instruction_attributes_temperature')[0].value;
      toggleThermometer($('#recipe_steep_instruction_attributes_temperature')[0].value)
           });


    //$("body").on("submit", "form", function(e) {
    //  e.preventDefault()
    //  params = $("#new_recipe").serializeArray();

    //  console.log(e)

    });
= form_for(@recipe) do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col.s12
      %ul.tabs
        %li.tab.col.s3.light-green-text
          %a.active{:href => "#basics"} The Basics
        %li.tab.col.s3
          %a{:href => "#ingredients"} Ingredients
        %li.tab.col.s3
          %a{:href => "#instruction"} Preperation Instructions
        %li.tab.col.s3
          %a{:href => "#finalize"} Submit
    #basics.col.s12.active
      %h3.center The Basics
      = f.label :name, class: ''
      = f.text_field :name, class: '', required: 'true'

      = f.label :description, class: ''
      = f.text_area :description, class: 'big-text-input', required: 'true'
    #ingredients.col.s12
      %h3.center What's in it?
      .row
        #recipe_ingredients
          = f.fields_for :ingredient_measurements do |ingredient_meaasurement|
            = render 'ingredient_measurement_fields', f: ingredient_meaasurement
          %span.input-group-btn
            = link_to_add_association "Add Ingredient", f, :ingredient_measurements, class: 'btn waves-effect waves-light btn-large'
    #instruction.col.s12
      %h3.center Special Instruction
      .row
        = f.fields_for :steep_instruction do |ff|
          .row
            = ff.hidden_field :recipe_id
          .row
            .col.s6
              .row
                .col.s3
                  %h5 Time
                .col.s7
                  .center
                    %i.fa.fa-clock-o.fa-3x.light-green-text
              .row.center
                .col.s3.offset-s3
                  = ff.number_field :time
                .col.s3
                  %select
                    %option{:value => "1"} Minutes
            .col.s6
              .row
                .col.s3
                  %h5 Temperature
                .col.s9
                  .center
                    %i.fa.fa-thermometer-empty.fa-3x.light-green-text#therm-empty{style: "display: none"}
                    %i.fa.fa-thermometer-half.fa-3x.light-green-text#therm-half
                    %i.fa.fa-thermometer-full.fa-3x.light-green-text#therm-full{style: "display: none"}
              .row
                .col.s3
                  %h3
                    %span#temperature_label{:name => "temperature_label"} 175
                    &#8457
                .col.s9
                  %p.range-field
                    = ff.range_field :temperature, :max => "250", :min => "150", :type => "range", :step => 5
          %br
          %h5 Preperation Notes
          = f.text_area :preperation_notes, :class => "big-text-input"

    #finalize.col.s12
      %h6.center Find this online somewhere? Lets give credit where credit is due.
      .row
        = f.label :source_url, class: ''
        = f.text_field :source_url, class: ''
      %br
      .actions#save_recipe
        = f.submit 'Save'
