= form_for @recipe do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  %h3.center Basic Info
  = f.label :name, class: ''
  = f.text_area :name, class: '', required: 'true'

  = f.label :description, class: ''
  = f.text_area :description, class: '', required: 'true'

  %h3.center Steep Instructions

  = f.fields_for :steep_instruction do |ff|
    = ff.hidden_field :recipe_id
    = ff.label :time
    = ff.text_area :time
    = ff.label :temperature
    = ff.text_area :temperature

  %h3.center Ingredients

  .actions
    = f.submit 'Save'
