.card.darken-1.recipe_card
  .card-content.black-text{style: "height:80%"}
    %span.card-title.center-align.cursive
      %b
        = recipe.name
    = render partial: "recipe_reviews/five_star_rating_display", locals: {recipe: recipe}
    %p
      = recipe.ingredient_list_string
    %br
    %p.left-align
      %i.light-text.recipe-description-card
        = recipe.description_truncated
    .left.date-stamp
      = recipe.created_date
  .card-action
