%h4 Recipe of the Day
.card.light-green
  .card-content.white-text
    %span.card-title
      = recipe.name
    %p
      = recipe.description
  .card-action
    %a{:href => "#{recipe_url(recipe.id)}"}
      =  "#{"View " + recipe.name}"