.row
  .fixed-action-btn.horizontal
    %a.btn-floating.btn-large.light-green.darken-2
      %i.large.material-icons menu
    %ul
      %li
        %a.btn-floating.light-green{:href => edit_recipe_path(@recipe)}
          %i.material-icons edit
      %li
        %a.btn-floating.light-green
          %i.material-icons share
      %li
        %a.btn-floating.light-green
          %i.material-icons print

.row
  .col.s9
    .card.darken-1
      .card-content.black-text.center
        %h1.center.cursive
          = @recipe.name
        .center
          = render partial: 'recipe_reviews/five_star_rating_display', locals: {recipe: @recipe}
        %p.recipe-description.center
          = @recipe.description

        %div.recipe-ingredient-text
          = "This recipe contains"
          %span.circle_highlight #{@recipe.ingredient_measurements.count}
          = "#{pluralize_without_count(@recipe.ingredient_measurements.count,"ingredient")}:"

        - @recipe.ingredient_measurements.in_groups_of(3, false).each do |group|
          .row
            - group.each do |ingredient_measurement|
              .col.s4
                = render partial: 'ingredient_measurements/card_display', locals: {ingredient_measurement: ingredient_measurement.decorate}
        .divider
        %br
        - if @recipe.source_url.present?
          %p.center
            This recipe comes from:
            = link_to @recipe.source_url, @recipe.source_url
        - if @recipe.user.present?
          %p.center
            = "Submitted By:"
            = link_to @recipe.submitter_username, user_path(@recipe.user.id)
            Submitted On: #{@recipe.created_date}

    %h2.center Reviews
    .center
      = @recipe.reviews_description
    - @recipe.recipe_reviews.in_groups_of(3, false).each do |group|
      .row
        - group.each do |recipe_review|
          .col.s4
            = render partial: 'recipe_reviews/list_card', locals: {recipe_review: recipe_review.decorate}

  - if @recipe.steep_instruction.present?
    .col.s3.center
      = render partial: 'steep_instructions/recipe_display', locals: {steep_instruction: @recipe.steep_instruction.decorate}
  .col.s3.center
    = render partial: 'preperation_notes', locals: {recipe: @recipe}
  - if @recipe_review
    .col.s3.center
      = render partial: 'recipe_reviews/form'
