:javascript
  $(document).ready(function() {
    $('select').material_select();
    });

= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %h5 Required
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %h5 Optional
  .field
    = f.label :gender
    = f.select :gender, [["Male",:male],["Female",:female]]
  .text_field
    = f.label :about
    = f.text_area :about, class: 'big-text-input'

  .actions
    %button.btn.waves-effect.waves-light{:name => "submit", :type => "submit"}
      Save
      %i.material-icons.right save
