= form_for @ingredient do |f|
  - if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name, class: ''
  = f.text_area :name, class: '', required: 'true'

  = f.label :description, class: ''
  = f.text_area :description, class: '', required: 'true'

  = f.label :image, class: ''
  = f.file_field :img

  .actions
    %button.btn.waves-effect.waves-light{:name => "submit", :type => "submit"}
      Save
      %i.material-icons.right save
