.row.center
  .col.s4
    %h4
      = "About"
    = @ingredient.description
  .col.s4
    %h2
      = @ingredient.name
    %img.ingredient-img-big.center{:src => @ingredient.img.url(:medium)}
  .col.s4
    %h4
      = "Recipes"
    .center.scrollable
      - @related_recipes.each do |recipe|
        .row
          .col.s12
            %a{:href => recipe_path(recipe.id)}
              = render partial: 'recipes/list_card', locals: {recipe: recipe.decorate}
- if can? :edit, Ingredient
  = link_to 'Edit', edit_ingredient_path(@ingredient)
