= form_for @steep_instruction do |f|
  - if @steep_instruction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@steep_instruction.errors.count, "error")} prohibited this steep_instruction from being saved:"
      %ul
        - @steep_instruction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :temperature
    = f.text_field :temperature
  .field
    = f.label :time
    %p.range-field
      = f.range_field :max => "100", :min => "0", :type => "range"
  %p.range-field
    %input#test5{:max => "100", :min => "0", :type => "range"}/

  .field
    = f.label :recipe
    = f.text_field :recipe
  .actions
    = f.submit 'Save'
