!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeaMaster
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'ingredient', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'recipe', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'steep_instructions', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'equal-height-columns', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.light-green.darken-2
      .nav-wrapper
        %a.brand-logo.center{:href => welcome_index_path, :style => "vertical-align:middle"}
          / %img{:src =>"/images/logo.png", :style => "height:50px; width:70px; color:white"}
          TeaMaster
        %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
          %i.material-icons menu

        %ul.left.hide-on-med-and-down
          %li
            %a.nav-link{:href => ingredients_path}
              %i.fa.fa-leaf
              Ingredients
          %li
            %a.nav-link{:href => recipes_path}
              %i.fa.fa-book
              Recipes
        %ul.right.hide-on-med-and-down
          - if current_user_session
            %li
              %a{:href => "#"}
                = current_user_session.user.username
            %li
              %a{:href => logout_path}
                Logout
          - else
            %li
              %a{:href => new_user_path}
                Signup
            %li
              %a{:href => login_path}
                Login
        %ul#nav-mobile.side-nav
          %li
            %a{:href => ingredients_path} Ingredients
          %li
            %a{:href => recipes_path} Recipes
            %form


    .container#body-container{style: "width: 85%"}
      = yield

  %footer.page-footer.light-green.darken-2
    .container
      .row
        .col.l6.s12
        .col.l4.offset-l2.s12.center
          %a.grey-text.text-lighten-3{:href => recipes_path} Recipes /
          %a.grey-text.text-lighten-3{:href => ingredients_path} Ingredients /
          %a.grey-text.text-lighten-3{:href => about_path} About /
          %a.grey-text.text-lighten-3{:href => about_path} Blog
    .footer-copyright
      .container.center
        © #{Date.today.year} BirdBucket Productions

:javascript
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });

