!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeaMaster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.light-green.darken-4
      .nav-wrapper
        %a.brand-logo{:href => welcome_index_path} TeaMaster
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a{:href => ingredients_path} Ingredients
          %li
            %a{:href => recipes_path} Recipes

    = yield

  %footer.page-footer.light-green.darken-4
    .container
      .row
        .col.l6.s12
          %h5.white-text Footer Content
          %p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
        .col.l4.offset-l2.s12
          %h5.white-text Site Navigation
          %ul
            %li
              %a.grey-text.text-lighten-3{:href => recipes_path} Recipes
            %li
              %a.grey-text.text-lighten-3{:href => ingredients_path} Ingredients
    .footer-copyright
      .container
        © #{Date.today.year} BirdBucket Productions
        %a.grey-text.text-lighten-4.right{:href => "#!"} More Links


