!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeaMaster
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'ingredient', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'recipe', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'equal-height-columns', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.light-green.darken-2
      .nav-wrapper
        %a.brand-logo{:href => welcome_index_path} TeaMaster
        %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
          %i.material-icons menu
        %ul.right.hide-on-med-and-down
          %li
            %a.nav-link{:href => ingredients_path}
              %i.fa.fa-leaf
              Ingredients
          %li
            %a.nav-link{:href => recipes_path}
              %i.fa.fa-book
              Recipes
        %ul#nav-mobile.side-nav
          %li
            %a{:href => ingredients_path} Ingredients
          %li
            %a{:href => recipes_path} Recipes


    .container#body-container{style: "width: 85%"}
      = yield

  %footer.page-footer.light-green.darken-2
    .container
      .row
        .col.l6.s12
          %h5.white-text Footer Content
          %p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
        .col.l4.offset-l2.s12
          %h5.white-text Site Navigation
          %ul
            %li
              %a.grey-text.text-lighten-3{:href => recipes_path} Recipes
            %li
              %a.grey-text.text-lighten-3{:href => ingredients_path} Ingredients
            %li
              %a.grey-text.text-lighten-3{:href => about_path} About
    .footer-copyright
      .container
        © #{Date.today.year} BirdBucket Productions
        %a.grey-text.text-lighten-4.right{:href => "#!"} More Links

:javascript
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });

